%section.bg-light-1#symbolset-topbar
  .container-xl
    .row.py-4
      .col.text-center.text-sm-left
        %h1.my-2.text-center
          %a{href: news_index_path}= t('views.articles._topbar.header_news')