- image_url = picto.images.last.present? ? picto.images.last.imagefile.url : '//placehold.it/362x200'
%a.card.mb-4.h-100{href: symbolset_symbol_path(picto.symbolset, picto)}
  .card-body.d-flex.flex-column.justify-content-between
    .mb-3.text-center
      .card-body-picto{style: "background-image: url(#{image_url})"}
      -#%img.img-fluid{alt: picto.best_label_for(locale).text, src: image_url}
    %h3.card-title.mb-0
      = picto.best_label_for(locale).text

    - if picto.visibility != 'everybody'
      %i.text-muted.fas.fa-lock.pl-2{title: t('views.pictos._topbar.not_publicly_visible'), 'data-toggle': 'tooltip'}