:ruby
  translation = @translation_used || {}
  title translation['title'] || @page['slug']&.to_s&.tr('-', ' ')&.titleize || 'Page'
  # description t('views.pages.contact._description')

  set_meta_tags og: {
    url: @og_url
  }

%main.mt-0
  %article
    = render 'topbar' do
      = translation['title'] || @page['slug']&.to_s&.tr('-', ' ')&.titleize || 'Page'
    .container-xl.mt-4
      .row.justify-content-center
        .col-md-8
          - if @using_fallback
            %small.text-warning.mb-3.d-block (Displayed in en-GB)
          - if translation['content'].present?
            - content = translation['content'].to_s
            - if content.lstrip.start_with?('<')
              = sanitize(content)
            - else
              = redcarpet(NewsArticleRenderer).render(content).html_safe
