:ruby
  title @page.title
  # description t('views.pages.contact._description')

  set_meta_tags og: {
    url: @og_url
  }

%main.mt-0
  %article
    = render 'topbar' do
      = @page.title
    .container-xl.mt-4
      .row.justify-content-center
        .col-md-8
          = RichTextRenderer::Renderer.new({'embedded-asset-block' => ContentfulAssetBlockRenderer}).render(@page.content).html_safe