- title "Help: Publishing a Symbol Set"
%main.container-xl
  .row
    .col
      %h1 Publishing a Symbol Set
      %p.lead This article describes how to get your Symbol Set published on Global Symbols.
      %h2 Steps
      %ol
        %li Create a new Symbol Set. It will be a Draft, visible only to the person who created it, and any Collaborators they nominate.
        %li Add your Symbols.
        %li When you're ready to publish, email hello@globalsymbols.com, stating the name of your Symbol Set.
        %li
          We will review your Symbol Set and either
          %ul
            %li Publish it immediately, or
            %li
              Let you know of any problems people may encounter with your symbols, so you can fix them.
              %br
              For instance, problems may be related to symbol sizes, lack of transparent backgrounds, incorrect formats (.svg or .png only), licensing etc.
      %p Thank you very much for wishing to publish a symbol set on Global Symbols.