= bootstrap_form_with url: symbolset_symbol_concepts_path(picto.symbolset, picto), layout: :horizontal, label_col: 'col', control_col: 'col-sm-12' do |f|
  = f.text_field :concept, append: f.primary(t('views.picto_concepts.index.add_concept.add')), wrapper: { class: 'mb-0'}, label_as_placeholder: true, label: t('views.picto_concepts.index.add_concept.button')