%main.container.py-5
  .row.justify-content-center
    .col-12.col-md-9.col-lg-7.text-center
      %h1.mb-3 Knowledge Base - Coming Soon
      <br>
      %p.mb-4
        If you have any questions please contact us at
        %a{ href: 'mailto:hello@globalsymbols.com' } hello@globalsymbols.com

      %a.btn.btn-primary{ href: root_path } Back to home

